# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=next-dashboard-app-db
PG_PASSWORD=1234
PG_PORT=5432
PG_CONNECT_TIMEOUT=10
# PG_SSL_MODE=prefer

DATABASE_URL=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth